<%= form_for(@meal) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :course %><br>
    <%= f.select :course_id, Course.all.collect {|x| [x.name, x.id]}%>

    <%= f.label :side_types %><br>
    <%= f.collection_check_boxes(:side_types, SideType.all, :id, :name) do |b| %>
        <div><%= b.check_box %>&nbsp;<%= b.label %></div>
    <% end %>
    <%= f.label :category %><br>
    <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}%>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
