<!DOCTYPE html>
<html>
<head>
  <title>TestRails</title>
  <% if !user_signed_in? %>
      <!--<p class="alert"><%= alert %></p>-->
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% else %>
      <p class="notice"><%= current_user.name %> (<%= current_user.email%>) // <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      </p>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
